/*background color */

body {
    background: #fff7c0;
}

nav {
    background: #fff7c0;

}

div.container-fluid {
    border-bottom: 1px solid #333333;
}

/*Center the h1 text and make  the color black*/

h1.display-4 {
    color: #301C05;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/*left align the h2 and li text and make the color black leaving separate 
in case I decide to make the h2's stand out later. */

h2 {
    color: #301C05;
    text-align:left;
}

li {
    color: #301C05;
    text-align: left;
}

/*make the link text blue / black */

a.customerCenter {
    color: blue;
}
a.homepage {
    color: blue;
}
a {
    color: #301C05;
}    

.customerCenter {
    color:#301C05;
}

/*make the navbar text black */
.pageTitle {
    color: #301C05;
    text-align: center;

}
.nav-link {
    color:#301C05;
}
.logo{
    width: 25px;
    height: auto;
}

div.col-4 {
    background: #301C05;
}

div.login{
    float:left; 
    width:400;
}
/*Center the h1 text and make  the color black*/

/*left align the h2 and li text and make the  color black leaving separate 
in case I decide to make the h2's stand out later. */

h2 {
    color: #000000;
    text-align:left;
}

li {
    color: #000000;
    text-align: left;
}

/*make the link text black */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 225px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a.card-wrapper {
    text-decoration: none;
}
.listing-wrapper {
    border: 1px darkgray solid;
    margin-bottom: 10px;
    padding: 10px 0;
}
div.container {
    text-decoration: none;
} 
.container .btn {
    text-decoration: none;
}
.button {
    background-color: #1C6173;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonCreate {
    background-color: #1C6173;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: hand;
  }
  .buttonEdit {
    background-color: #1C6173;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonDelete {
    background-color: #1C6173;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }