/*put in a background color going from darker to lighter green*/

body {
    background: white;
}

div.col-4 {
    background: black;
}

div.card {
    background: #008b8b;
}
/*Center the h1 text and make  the color black*/

h1.display-4 {
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/*left align the h2 and li text and make the  color black leaving separate 
in case I decide to make the h2's stand out later. */

h2 {
    color: #000000;
    text-align:left;
}

li {
    color: #000000;
    text-align: left;
}

/*make the link text black */

a {
    color: #000000;
}    

.customerCenter {
    color:#000000;
}

/*make the navbar text black */
.navbar-brand {
    color: #000000;
}
.nav-link {
    color:#000000;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 225px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container a {
    text-decoration: underline;
}
a.card-wrapper {
    text-decoration: none;
}
.listing-wrapper {
    border: 1px darkgray solid;
    margin-bottom: 10px;
    padding: 10px 0;
}
 
.container .btn {
    text-decoration: none
}